@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Menu de navegação */

header{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
  

}

nav {
    width: 60%;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 100%;  
   
}

li{
    list-style: none;
    color: aliceblue;
    font-family: "kdam Thmor Pro", sans-serif;
    font-size: 19px;
    margin-top: 50px;
    cursor: pointer;
    transition: .5s;
}

li:hover{
    color: #d21617;

}

a{
    text-decoration: none;        
    transition: opacity 500ms linear; /* Adiciona uma transição suave */
}

a:hover{
    opacity: 0.5;
}



.logo{
    width: 200px;
    height: auto; 
    margin-top: 20px;      
   
}
h3{
    color: aliceblue;
    font-family: "kdman Thmor Pro", sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    
}

input, textarea{
    background-color: #fff;
    color: black;
    width: 30%;
    border-radius: 5px;
   
}

input{
    height: 50px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea{
    height: 150px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    align-items: center;
}




button{
    background-color: #d21;
    font-size: 20px;
    color: #fff;
    width: 30%;
    height: 50px;    
    cursor: pointer;
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: opacity 500ms linear;
    margin-top: 10px;
}

button:hover{
   
    color: #fff;
    opacity: 0.5;
}


/* footer */

footer{
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

small{
    font-family: "kdman Thmor Pro", sans-serif;
}


.nav-footer {
    display: flex;
    justify-content: center;
    display: none;
}

.nav-lista{
    display: flex;
    flex-direction: column;
    align-items: center;
      
    
}


.creditos{
    color: #fff;
    text-align: center;
}


@media(max-width:768px){
    .nav-footer{
        display: block;
        
    }

    

    nav{
        display: none;
        
    }

    ul{
        width: 75%;
    }
    .logo{
        margin-right: 35px;
        
    }

    
    h3{
       font-size:15px;
       width: 90%;
    }

    input, textarea, button{
        width: 100%;
    }
}