*{
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
}

nav{
    
}



.banner{
    background-image: url("https://preview.redd.it/6092ltrt8nt71.jpg?auto=webp&s=c26d698d5d92796be9c6ab47f22dba63a7be96c3");
    width: 600px;
    height: 500px;
  
}